{% extends "home.phtml" %}

{% block content %}
    {% if passwdNotMatchError %}
        <div class="row justify-content-md-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Neshodují se nová hesla. &nbsp;&nbsp;&nbsp;
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
    {% if oldPasswdError %}
        <div class="row justify-content-md-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Nesprávně zadané staré heslo. &nbsp;&nbsp;&nbsp;
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row justify-content-md-center">
            <form method="post">
                <div class="form-group">
                    <label for="inputOldPasswd">Staré heslo</label>
                    <input type="password" class="form-control" id="inputOldPasswd" name="oldPassword" placeholder="Staré heslo">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Nové heslo</label>
                    <input type="password" class="form-control" id="inputPassword1" name="password1" placeholder="Nove heslo">
                </div>
                <div class="form-group">
                    <label for="inputPassword2">Nové heslo znovu</label>
                    <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Nove heslo znovu">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}