{% extends "home.phtml" %}

{% block content %}
    {% if logError %}
        <div class="row justify-content-md-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Nesprávně zadaný email nebo heslo. &nbsp;&nbsp;&nbsp;
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row justify-content-md-center">
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Vložte email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Heslo</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Heslo">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>

{% endblock %}